<div class="flex-row">
  <div class="content">
    <div class="title-with-subtitle">
      <h3>Para Empresas</h3>
      <app-logo-bars></app-logo-bars>
    </div>
    <p>
      Nossos serviços de Recrutamento e Seleção são 100% customizados e entregamos perfis já <strong>direcionados</strong> e <strong>pré-avaliados</strong> para seus processos.
    </p>
    <p>
      Temos soluções para diversos <strong>segmentos</strong> de varejo, com opções de projetos individuais ou projetos de seleção para times completos
    </p>
    <p>Atuamos em ambientes de Varejo Físico, Omnichannel e E-Commerce.</p>
    <ul>
      <li>Maior Agilidade nos processos de contratação</li>
      <li>Retenção de talentos e redução de turnover</li>
      <li>Impactos positivos diretos nos seus negócios</li>
    </ul>

    <button type="button" class="button-style-classic">
      Cadastre suas vagas conosco!
    </button>
    <h4>
      Entre em contato já para<br>
      te contarmos mais sobre<br>
      nossos projetos e serviços.
    </h4>
  </div>
  
  <div class="bg-full-image"></div>

</div>