<app-header [showLogo]="true"></app-header>
<div class="app-container">
    <div class="container-fluid">
      <div class="home full-width">
        <div class="header-bgc">
          <div class="row">
            <div class="col-md-12 align-center section-title">
              <h5>A nossa Especialidade: Fornecimento de equipes de lojas</h5>
            </div>
            <div class="col-md-6 about-beth">
              <img src="./../../assets/img-sobre-nos.jpg" alt="">
            </div>
            <div class="col-md-6 about-beth">
              <p>
                Nosso diferencial está no atendimento personalizado para expansão de lojas próprias e franquias.
              </p>
              <p>
                Atendemos a contratação pontual ou em larga escala (em todo território nacional) com qualidade e de forma personalizada para cada processo.
              </p>
              <p>
                Nosso hunting é 100%  focado em profissionais com experiência em lojas e em cada segmento específico.
              </p>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-12 align-center" style="padding-left: 0px; padding-right: 0px; padding-bottom: 40px;">
              <a [routerLink]="['']">
                <img src="./../../assets/equipes-loja.png" alt="" style="max-width: 40%;">
              </a>
            </div>

            <div class="col-12 short-description">
              <p>
                Beth Kalan - Consultoria Recrutamento & Seleção fundada em 2004, é
                <b>referência em Recrutamento & Seleção</b> especializado em hunting (100% focado no varejo), alta moda e
                grandes varejistas em cada linha de atuação - Jovens Talentos e Especialistas e Alta e Média Gerência.
                Atendemos vagas pontuais ou em larga escala (em todo território nacional) com alta qualidade e de forma
                personalizada para cada processo.
              </p>
            </div>

            <div class="col-12 more-about-beth">
              <div class="row align-items-center">
                <div class="col-2">
                  <p>
                    <img src="../../assets/ic_sobe1.svg" alt="">
                  </p>
                </div>
                <div class="col-10">
                  <p>
                    <b>Recrutamos e selecionamos</b> através de equipes especializadas nas práticas em que atuam, experiência
                    no segmento, habilidades e foco na captação e seleção de profissionais na área.
                  </p>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-2">
                  <p>
                      <img src="../../assets/ic_sobre2.svg" alt="">
                  </p>
                </div>
                <div class="col-10">
                  <p>
                    Promovendo e ampliando a oportunidade de encontro do candidato com a empresa é a nossa missão.
                    Buscar um excelente resultado de retenção é nosso objetivo.
                  </p>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      <div class="about full-width">
        <!-- <div class="row">
          <div class="col-md-12 align-center section-title">
            <h5>Sobre nossa fundadora</h5>
          </div>

          <div class="col-md-12 about-beth">
            <p>
              Beth Kalan atua no varejo desde 1986 onde trabalhou na empresa da família gerenciando careteira de
              300 revendedoras de joias na Baixada Santista de marcas de ouro e folheados como a Rommanel.
              <br>
              Em 93 iniciou sua trajetória no varejo atuando em cargos de gestão e operações de grandes marcas como
              Zoomp, C&A, Joge e outras.
              <br>
              Focada para desenvolvimento de pessoas onde acredita que a equipe e a alma da empresa inicio a consultoria de
              treinamentos personalizados e contração de equipes e profissionais no perfil de cada marca.
              <br><br>
              Nos últimos 8 anos viajou para principais regiões e cidades para processo de seleção marcas multinacionais e
              nacionais em epansão como Grupo Luxxotica (64 lojas), Grupo Rosset (23 lojas) e demais marcas 160 lojas nos
              últimos 4 anos.
              <br>
              Contratação de gestores nos cargos de média e alta gerência.
            </p>
          </div>
        </div> -->

        <div class="row">
          <div class="col-md-12 align-center section-title">
            <h4>Onde atuamos</h4>
          </div>
        </div>

        <div class="row justify-content-center city-list">
          <div class="col-md-8">
            <p class="align-center">
              <img src="./../../assets/map_word.png" alt="">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
