<div class="full-width flex-row">
  <div class="img-sobre"></div>
  <div class="flex-column content-right">
    <div class="title-with-subtitle">
      <h3>Quem somos</h3>
      <app-logo-bars></app-logo-bars>
      <h4>A especialidade em fornecimento de equipes de lojas</h4>
    </div>
    <p>
      Oferecemos SOLUÇÕES para empresas encontrarem de maneira mais rápida e eficiente seus novos colaboradores. Valorizamos pessoas apaixonadas por varejo como nós e que buscam a excelência de atendimento e desenvolver suas carreiras no varejo.
    </p>
    <p>
      Temos um Networking rico e ativo que abrange mais de 80% dos principais Shoppings Centers e Centros Comerciais Nacionais, o que viabiliza a execução de projetos mais eficientes. O conhecimento cultural e operacional desses centros comerciais e suas constantes visitas in loco garantem maior alinhamento de perfis profissionais e maior solidez nos resultados nos projetos para pontos em centros de Operações já maduras como as mesmo em desenvolvimento.
    </p>
    <p>
      Customizamos nossos projetos e temos nossa principal executiva, Beth Kalan atuando diretamente em todos os projetos para garantir um maior alinhamento de perfil e resultados junto ao contratante para ampliar oportunidades e dinamizar o processos de contratação de forma única, humanizada e competente.
    </p>
    <p>
      Já entrevistou pessoalmente mais de 16 mil candidatos para diversos perfis de vagas do segmento, e possui um rico banco de dados diverso e segmentado.
      Possui um Networking rico e ativo que abrange mais de 80% dos principais Shoppings Centers e Centros Comerciais Nacionais, o que viabiliza a execução de projetos mais eficientes e positivos. O conhecimento cultural e operacional desses centros comerciais e suas constantes visitas in loco garantem maior alinhamento de perfis profissionais e maior solidez nos resultados nos projetos para pontos em centros de Operações já maduras como as mesmo em desenvolvimento.
    </p>
    <p>
      Atua diretamente em todos os projetos para garantir um maior alinhamento de perfil e resultados junto ao contratante para ampliar oportunidades e dinamizar o processos de contratação de forma única, humanizada e competente. 
    </p>
  </div> 
</div>
<div class="full-width">
  <div class="sobre">
    <div>
      <div class="title-with-subtitle">
        <h3>Sobre Beth Kalan</h3>
        <app-logo-bars></app-logo-bars>
      </div>
      <p>
        Já entrevistou pessoalmente mais de 16 mil candidatos para diversos perfis de vagas do segmento, e possui um rico banco de dados diverso e segmentado.
      </p>
      <p>
        Possui um Networking rico e ativo que abrange mais de 80% dos principais Shoppings Centers e Centros Comerciais Nacionais, o que viabiliza a execução de projetos mais eficientes e positivos. O conhecimento cultural e operacional desses centros comerciais e suas constantes visitas in loco garantem maior alinhamento de perfis profissionais e maior solidez nos resultados nos projetos para pontos em centros de Operações já maduras como as mesmo em desenvolvimento.
      </p>
      <p>
        Atua diretamente em todos os projetos para garantir um maior alinhamento de perfil e resultados junto ao contratante para ampliar oportunidades e dinamizar o processos de contratação de forma única, humanizada e competente.
      </p>
    </div>
    <div class="onde-atuamos">
      <div class="title-with-subtitle">
        <h3>Onde atuamos</h3>
        <app-logo-bars></app-logo-bars>
        <img src="./../../assets/map_word.png" alt="">
      </div>
      
    </div>
  </div>
</div>

<app-footer></app-footer>
