.welcome-login {

  .bg-full-image {
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    background: url('./../../assets/img-login.jpg') no-repeat center;
    background-size: cover;
  }

  div.form-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {

      h4 {
        font-size: .9em;
        font-family: 'tienneregular';
        padding: 0;
        margin: 0;
        color: #777;
      }
      h2 {
        font-family: 'poppinslight';
        padding: 10px 0 0 0;
      }

      .form {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        
      }
    }
  }
}

.chkRemember {
  font-family: 'tienneregular';
  font-size: .9em;
  padding-top: 10px;
}