<div class="app-container">
  <div class="row justify-content-center">
    <div class="col-md-12 align-center">
      <h3 class="vagas">Vagas</h3>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4 table-title">
          CARGO
        </div>
        <div class="col-md-4 table-title">
          CIDADE
        </div>
      </div>
    </div>

    <div class="col-md-8 vagas-lista" *ngFor="let jobPosition of jobs" style="padding: 5px 0px;">
      <div class="row job-position align-items-center clickable" (click)="openJobPositionPage(jobPosition.id)">
        <div class="col-md-4">
          {{ jobPosition.jobPosition }}
        </div>
        <div class="col-md-4">
          {{ jobPosition.city }}
        </div>
        <div class="col-md-4 align-right">
          <button class="btn-more-details" style="display: inline-flex;">
            Ver vaga
            <i class="material-icons">
              keyboard_arrow_right
            </i>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-8" style="padding: 5px 0px;" *ngIf="jobs && jobs.length === 0">
      <p class="align-center">Nenhuma vaga encontrada!</p>
    </div>

  </div>
</div>
