.dados {
  margin-left: 15px;
  width: 100%;
}
.loading {
  position: absolute;
  width: 100%;
  height: calc(100% - 110px);
  background: rgba($color: #ffffff, $alpha: .8);
  z-index: 100;
}

.wrapper-content {
  margin-top: 20px;
}