html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fff; }

$brand-color-1: #4f5865;
$brand-color-2: #87a0b5;
$brand-color-3: #aec7db;
$brand-color-4: #cde6f6;

$grey-color-4: #ececec;

$break-small: 540px;
$break-large: 1280px;

@mixin mediaquery-to($media) {
  @if $media == screen-sm {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == screen-md {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == screen-lg {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

:focus {
  outline: none;
}
.wrapper-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.full-width {
  max-width: 100%;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

img {
  max-width: 100%;
}


.title-with-subtitle {
  width: 100%;
  display: block;

  h3 {
    font-family: 'poppinslight';
    padding: 10px 0 0 0;
  }
  h4 {
    font-size: .9em;
    font-family: 'tienneregular';
    padding: 0;
    margin: 0;
    color: #777;
  }
}

button:focus {
  outline: none;
}

.app-container {
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  padding: 0px 200px;
}

.app-notification-success {
  background-color: #28a745;
  color: white;
}

.clickable {
  cursor: pointer;
}

.app-notification-error {
  background-color: #dc3545;
  color: white;
}

.app-notification-warning {
  background-color: #ffc107;
  color: white;
}

@media only screen and (max-width: 1260px) {
  .app-container {
    padding: 0px 100px;
  }
}

@media only screen and (min-width: 720px) {
  .is-mobile {
    display: none;
  }

  .is-desktop {
    display: block;
  }
}

@media only screen and (max-width: 720px) {
  .is-desktop {
    display: none;
  }

  .is-mobile {
    display: block;
  }

  .app-container {
    padding: 0px 0px;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
